div
{
background-color:#FFFFFF;
font-family:times new roman, times, MyWebFont,DroidSans, serif; 
color:#000000;
border:1px solid #C0C0C0;
font-size: 8px;
margin-left:40%;
margin-right:40%;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
}