body {
  font-family: 'Tinos', serif;
  font-size: 1.5em;
  background: url("fon.jpg");
  color: #000000;
   background-repeat:no-repeat;
}

div {
  width:450px;
  height:450px;
   }

four {
  width: 400px;
}

[data-view="card"] {
  transform: rotateY(180deg);
  width: 100px;
  height: 100px;
  margin: 1px;
  float: left;
  background-color: #ffffff;
}

.flipped {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

.reverse {
  transition: 0.2s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

.correct {
  cursor: default;
  transform-style: preserve-3d;
  position: relative;
 }

/* Cards */
.correct[data-item="1"],
.flipped[data-item="1"] {
  background: url("../img/1.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="2"],
.flipped[data-item="2"] {
  background: url("../img/2.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="3"],
.flipped[data-item="3"] {
  background: url("../img/3.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="4"],
.flipped[data-item="4"] {
  background: url("../img/4.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="5"],
.flipped[data-item="5"] {
  background: url("../img/5.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="6"],
.flipped[data-item="6"] {
  background: url("../img/6.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="7"],
.flipped[data-item="7"] {
  background: url("../img/7.png") left center no-repeat;
  background-size: contain;
}

.correct[data-item="8"],
.flipped[data-item="8"] {
  background: url("../img/8.png") left center no-repeat;
  background-size: contain;
}

